  <table class="table table-striped">
    <thead>
      <tr class="<%= custom_style %>"%>
        <th scope="col">Last Name</th>
        <th scope="col">First Name</th>
        <th scope="col">Class Year</th>
        <th scope="col">GPA</th>
        <th scope="col">View more</th>

      </tr>
    </thead>
    <tbody>
      <% students.each do |student|%>
        <tr>
          <td> <%= student.last_name %></td>
          <td> <%= student.first_name %></td>
          <td> <%= student.grade %></td>
          <td> <%= number_with_precision(student.gpa, precision: 2) %></td>
          <td><%= link_to 'View More', teacher_student_path(teacher_id: @teacher.id, id: student.id)%></td>
        </tr>
      <% end %>
    </tbody>
  </table>