<div class="container">
<%= render 'teachers/nav' %>
<div class='col-md-8'>
<h4>Add Student</h4>
    <%= form_with(model: @student, url: teacher_students_path) do |student_form| %>
      <div class="row">
        <div class="form-group col">
          <%= student_form.text_field :first_name, class: 'form-control', placeholder:"First name" %>
        </div>
        <div class="form-group col">
          <%= student_form.text_field :last_name, class: 'form-control', placeholder:"Last name" %>
        </div>
      </div>

      <div class="form-group">
        <%= student_form.select :grade, Student::GRADES, {prompt: 'Select Grade'}, class: 'form-control' %>
      </div>
      <div class="form-group ">
        <%= student_form.submit "Submit", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>