<div class="container">
  <%= render 'teachers/nav' %>
  <div class="col-md-4">
    <h3>Add Submission</h3>
    <%= form_with(model: @submission, url: teacher_subject_assignment_submissions_path(@teacher, @subject, @assignment)) do |submission_form| %>
    <form>
      <div class="form-group">
        <%= submission_form.collection_select(:subject_student_id, @assignment.incomplete_submission_students, :id, :name, {}, class: 'form-control') %>
      </div>
      <div class="form-group">
        <%= submission_form.label :grade, class: 'control-label' %>
        <%= submission_form.number_field :grade, class: 'form-control' %>
      </div>
      <%= submission_form.submit "Submit", class: 'btn btn-primary' %>
    </form>
    <% end %>
  </div>
</div>