<div class="container">
<%= render 'teachers/nav' %>

  <h3>Add students to <%= @subject.name %></h3>
  <%= form_with(model: @subject, url: teacher_subject_path(@teacher)) do |subject_form| %>
    <form>
      <div class="form-group">
        <%= subject_form.collection_select(:student_ids, @subject.available_students, :id, :name, {}, multiple: true, class: 'form-control selectpicker') %>
      </div>
      <button type="submit" class="btn btn-primary">  <%= subject_form.submit "Add students" %></button>
    </form>
  <% end %>
</div>