<div class="container">
  <%= render 'teachers/nav' %>

  <h3>Add subject to your schedule</h3>

  <% if @subject.errors.any? %>
    <div class="alert alert-danger"> 
      <ul>
      <% @subject.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for(@subject, url: teacher_subjects_path(@teacher)) do |subject_form| %>

    <form>
      <div class="row">
        <div class="form-group col-md-4">
          <%= subject_form.label :name, class: 'control-label' %>
          <%= subject_form.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group col-md-4">
          <%= subject_form.label :class_period, class: 'control-label' %>
          <%= subject_form.select :class_period, options_for_select(@teacher.available_class_periods), {include_blank: true}, { class: "form-control" } %>
        </div>
      </div>
    
      <div class="row">
        <div class="form-group col-md-4 pull-right">
          <%= subject_form.submit "Create", class:"btn btn-primary"%>
        </div>
      </div>
    </form>
  <% end %>
</div>