<div class="container">

<h1>Hello, <%= @teacher.name %></h1>
<p>Add subject to your schedule</p>


<%= form_with(model: @subject, url: teacher_subjects_path(@teacher)) do |subject_form| %>
<form>

  <div class="form-group">
  <%= subject_form.label :name %>
    <%= subject_form.text_field :name %>
      </div>
  <div class="form-group">

  <%= subject_form.label :class_period %>
    <%= subject_form.number_field :class_period %>
    </div>
  <%= subject_form.submit "Create" %>
</form>

<% end %>

</div>